@import "tailwindcss";
@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";
@import '@vue-flow/core/dist/style.css';
@plugin "@tailwindcss/typography";

@import '@vue-flow/controls/dist/style.css';
@import '@vue-flow/minimap/dist/style.css';
body {
    font-family: 'Poppins', sans-serif;
}
  
@theme {
    --color-maurealty-blue: #044677;
    --color-maurealty-green: #33b058;
    --color-background-gray: #ECF1F5;
    --color-sidebar-hover: #031E319D;
}

@utility sidebar-choice {
    @apply p-3.5 pl-6 w-full transition hover:bg-[#ffffff2A];
}

@utility listings-filter-section {
  @apply flex flex-col items-center;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-maurealty-blue;
}
